.bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 7;
  display: block;
  height: 100%;
  width: 400px;
  margin: 0 auto;
  margin-top: 0.1px;
  background-color: #101010;
  margin-top: 0.01px;
}

.img-container {
  position: relative;
  max-width: 400px;
  margin-top: 15px;
}

.img {
  display: block;
  width: 100%;
  max-width: 90vw;
  height: 500px;
  object-fit: fill;
}

.text {
  font-weight: bold;
  font-size: 24px;
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .bg {
    width: 45vw;
  }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
  .bg {
    width: 70vw;
  }
}

@media screen and (max-width: 830px) {
  .bg {
    width: 45vw;
  }
}
@media screen and (max-width: 720px) {
  .bg {
    width: 70vw;
  }
}

@media screen and (max-width: 500px) {
  .bg {
    width: 90vw;
  }
}

@media screen and (max-width: 350px) {
  .img {
    max-width: 260px;
  }
  .text {
    max-width: 260px;
  }
}
