.section{
    display: block;
    min-height: 100vh;
    width: var(--page-width);
    margin: 0 auto;
    padding: var(--large-padding);
    border-radius: 15px;
}
.white {
    background-color: white;
}
.black {
    background-color: black;
}
.grey {
    background-color: var(--light-grey);
}
