.container {
  line-height: 1.5;
  max-width: 680px;
  margin: 0 auto;
  h2 {
    font-size: 30px;
    margin-left: 96px;
  }
}

.work-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 45px 60px;
}

@media screen and (max-width: 765px) {
  .work-container {
    display: grid;
    justify-items: center;
  }
}
