@import "~delicious-hamburgers/scss/base";
@import "~delicious-hamburgers/scss/animations/shelf";

.hamburger-menu {
  z-index: 1000;
  position: relative;
}
.menu-container {
  display: none;
}
.hamburger {
  z-index: 1000;
}
.inner,
.bar {
  z-index: 1000;
  background-color: white !important;
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    &::before,
    &::after {
      background-color: white !important;
    }
  }
}

.mobile-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  background-color: #1e1e1e;
}

@media screen and (max-width: 1000px) {
  .menu-container {
    display: block;
  }
  .mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fixed {
    position: fixed;
    top: 0;
    left: 0;

    .hamburger-menu {
      position: fixed;
      right: 30px;
      top: 45px;
    }
  }
}

.div {
  display: block;
  z-index: 4;
  background-color: white;
  width: 50px;
  height: 50px;
}
