.active {
  color: white !important;
}

.nav-links {
  display: flex;
  //width: 35%;
  width: 469px;
  justify-content: space-between;
  align-items: center;

  li {
    list-style: none;
    text-decoration: none;
  }
}

.hover-link {
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.hover-link > span {
  overflow: hidden;
  display: block;
  position: relative;
}

.hover-link > span > span {
  display: inline-block;
}

.hover-link > span > span:nth-of-type(1) {
  transition: 0.4s ease all;
}

.hover-link > span > span:nth-of-type(2) {
  transition: 0.4s ease all;
  transition-delay: 0.07s;
}

.hover-link > span > span > span {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(200%);
}

.hover-link:hover > span > span,
.hover-link:focus > span > span {
  color: #fff;
  transform: translateY(-200%);
}

@media screen and (max-width: 1000px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .hover-link {
    font-size: 60px;
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  .hover-link {
    font-size: 45px;
    padding: 15px;
  }
}
