.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  max-width: var(--page-width);
  padding: 0 30px;
  margin: 0 auto;
  position: absolute;
  top: 40px;
  z-index: 99;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.5px;

  span {
    &:nth-child(1) {
      color: rgba(255, 255, 255, 0.5);
      margin-right: 5px;
    }
    &:nth-child(2) {
      color: white;
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav-links-container {
    display: none;
  }

  .nav {
    top: 0;
    padding-top: 70px;
  }
}
