.section {
  display: block;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: var(--large-padding);
  color: white;
}

.white {
  background-color: white;
}
.black {
  background-color: #0c0c0c;
}
.grey {
  background-color: #101010;
}
